* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 14px;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}
.main {
  background: #202d36;
  min-height: 100vh;
}
.title {
  background: #2b3743;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  font-weight: 800;
}
.title span {
  cursor: pointer;
}
.toggleTheme {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  color: white;
}
.searchSection {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  /* overflow: hidden; */
}
label {
  position: relative;
}
label:before {
  content: "";
  position: absolute;
  left: 1rem;
  top: 1rem;
  bottom: 1.2rem;
  width: 1rem;
  background: url("/rest-countries-api-with-color-theme-switcher-master/design/search-icon-png-9993.png")
    center / contain no-repeat;
}
.inputSearch {
  background: #2b3743;
  padding: 0.8rem 2.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 0.5rem;
  width: 22rem;
  color: white;
  font-size: 18px;
  /* margin-right: 2rem; */
}
.DDbtn {
  position: relative;
}
.DropdownButton {
  background: #2b3743;
  border: none;
  outline: none;
  color: #b7c1ca;
  border-radius: 0.5rem;
  padding: 1rem;
  position: relative;
  cursor: pointer;
  font-weight: 600;
  min-width: 10rem;
  display: flex;
}
.DropdownButton::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white;
}
.list {
  margin-top: 0.5rem;
  position: absolute;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  color: #b7c1ca;
  cursor: default;
  background: #2b3743;
  border: none;
  outline: none;
  color: #b7c1ca;
  border-radius: 0.5rem;
  padding: 1rem;
  font-weight: 600;
  display: flex;
  min-width: 10rem;
}
.listItem {
  margin: 2px;
  cursor: pointer;
  font-weight: 600;
}
.content {
  display: grid;
  grid-template-columns: auto auto auto auto;
  /* overflow: auto */
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  /* grid-template-columns: repeat(auto-fit, 15rem); */
  box-sizing: border-box;
  /* justify-content: space-between; */
  /* flex-wrap: wrap; */
  padding: 2rem;
  gap: 5rem;
}
.card {
  display: flex;
  flex-direction: column;
  height: 20rem;
  max-width: 20rem;
  background: #2b3743;
  cursor: pointer;
  border-radius: 0.5rem;
}
.flag {
  flex: 1;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-position: initial;
  background-size: cover;
  background-repeat: round;
}
.countryDetail {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-bottom-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  padding: 1rem 1.5rem 0rem;
  /* box-sizing: border-box; */
  color: white;
}
.countryDetail > :nth-child(1) {
  font-weight: 700;
  padding-bottom: 0.5rem;
  font-size: 20px;
}
.countryDetailTitle > :nth-child(1) {
  font-weight: 600;
}
.countryDetailTitle > :nth-child(2) {
  color: #b7c1ca;
}
.btn {
  background: #2b3743;
  border: none;
  outline: none;
  color: #b7c1ca;
  border-radius: 0.5rem;
  padding: 0.5rem;
  position: relative;
  cursor: pointer;
  font-weight: 600;
  min-width: 6rem;
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.backBtnIcon {
  position: absolute;
  left: 1rem;
  top: 0rem;
  bottom: 0.1rem;
  width: 1rem;
  background: url("../rest-countries-api-with-color-theme-switcher-master/design/icons8-left-32.png")
    center / contain no-repeat;
}
.bigFlag {
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 20rem;
}
.detailedComponent {
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 2rem 0rem;
  font-size: 1rem;
  color: white;
}
.counntryName {
  font-size: 2rem;
  padding-bottom: 1rem;
}
.subdetailedComponent {
  display: grid;
  /* grid-template-columns: auto auto; */
  grid-template-columns: repeat(auto-fill, minmax(12rem, 15rem));
  gap: 1rem;
}
.featureBtn {
  display: flex;
  align-items: center;
  padding: 1rem 0rem;
  flex-wrap: wrap;
}
.featureBtn > span {
  margin-right: 1rem;
  font-weight: 600;
}
.featureBtnModle {
  padding: 1rem 0rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

@media screen and (max-width: 680px) {
  .searchSection {
    flex-direction: column;
    justify-content: space-between;
  }
  #searchSection2 {
    flex-direction: row;
  }
  .DropdownButton {
    margin-top: 1rem;
  }
  .content {
    gap: 1rem;
  }
  /* .bigFlag {
  min-height: 20rem;
  } */
}
@media screen and (max-width: 500px) {
  .inputSearch {
    width: 11rem;
  }
  .bigFlag {
    min-height: 9rem;
  }
}
@media screen and (max-width: 280px) {
  .inputSearch {
    width: 8.5rem;
  }
  .card {
    max-width: 13.5rem;
  }
  .bigFlag {
    min-height: 9rem;
  }
}
